body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}
p{
    font-size: larger;
    color: darkcyan;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
.banner-area{
    background-image: url(images/Fdesign.png);
    background-repeat: no-repeat;
    color: white;
    background-size: 100%;
    text-align: center;
    padding: 150px 250px;
}
#font-p{
    color: white;
}
.button{
    text-decoration: none;
    background-color: crimson;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.donate-today{
    text-align: center;
    padding: 40px 300px;
}
.flexible-container{
    display: flex;
    padding-right: 500px;
    padding-top: 30px;
}
.amount-tk{
    font-size: 20px;
    font-weight: 700;
    opacity: 0.6;
    width: 70%;
    padding: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    background-color: rgba(172, 168, 168, 0.147);
}
#amount-200tk{
    border: 2px solid tomato;
    color: red;
    background-color: rgba(243, 186, 180, 0.432);
}
.donate-plan{
    text-align: center;
    padding: 40px 300px;
}
.flexible-container-2{
    display: flex;
    padding-left: 10%;
    padding-right: 5%;
}
.plan-item{
   width: 25%; 
   padding: 20px;
   margin-left: 1%;
   margin-right: 1%;
   border-radius: 5px;
   background-color: aquamarine;
}
.icon{
    width: 20%;
}
#plan-1{
    background-color: #E8FFC6;
}
#plan-2{
    background-color: #FFCDF7;
}
#plan-3{
    background-color: #FFEDBB;
}
.flexible-container-3{
    display: flex;
    padding: 100px;
}
.half-width{
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 80%;
}
.get-update{
    text-align: center;
    padding: 20px 250px;
}
.form-input{
    background-color: rgba(232, 226, 226, 0.754);
    padding: 50px;
}
footer{
    padding: 50px;
    background-color: rgb(39, 37, 37);
    color: white;
    text-align: center;
}
#foot-font{
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-size: 30px;
    color: crimson;
}